@import "bootstrap/bootstrap";
@import "bootstrap/variables";

$font-primary: "Work Sans", Arial, sans-serif;

$white: #fff;
$black: #000;

$primary: #ff5656;
$footer: #272e4f;

@mixin gradient-background() {
  background: rgba(8, 194, 153, 1);
  background: -moz-linear-gradient(
    45deg,
    rgba(8, 194, 153, 1) 0%,
    rgba(9, 0, 137, 1) 100%
  );
  background: -webkit-gradient(
    left bottom,
    right top,
    color-stop(0%, rgba(8, 194, 153, 1)),
    color-stop(100%, rgba(9, 0, 137, 1))
  );
  background: -webkit-linear-gradient(
    45deg,
    rgba(8, 194, 153, 1) 0%,
    rgba(9, 0, 137, 1) 100%
  );
  background: -o-linear-gradient(
    45deg,
    rgba(8, 194, 153, 1) 0%,
    rgba(9, 0, 137, 1) 100%
  );
  background: -ms-linear-gradient(
    45deg,
    rgba(8, 194, 153, 1) 0%,
    rgba(9, 0, 137, 1) 100%
  );
  background: linear-gradient(
    45deg,
    rgba(8, 194, 153, 1) 0%,
    rgba(9, 0, 137, 1) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#08c299', endColorstr='#090089', GradientType=1 );
}

@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  -ms-border-radius: $radius;
  border-radius: $radius;
}

@mixin transition($transition) {
  -moz-transition: all $transition ease;
  -o-transition: all $transition ease;
  -webkit-transition: all $transition ease;
  -ms-transition: all $transition ease;
  transition: all $transition ease;
}

html {
  // overflow-x: hidden;
}
body {
  font-family: $font-primary;
  background: $white;
  font-size: 16px;
  line-height: 1.8;
  font-weight: 300;
  color: lighten($black, 30%);
  &.menu-show {
    overflow: hidden;
    position: fixed;
    height: 100%;
    width: 100%;
  }
}
a {
  transition: 0.3s all ease;
  color: $primary;
  &:hover {
    text-decoration: none;
    color: $primary;
  }
}
h1,
h2,
h3,
h4,
h5,
.h1,
.h2,
.h3,
.h4,
.h5 {
  line-height: 1.5;
  color: $black;
  font-weight: 400;
}

.text-primary {
  color: $primary !important;
}

.serg-navbar-light {
  background: transparent !important;
  position: absolute;
  left: 0;
  right: 0;
  z-index: 3;
  top: 30px;
  @include media-breakpoint-down(md) {
    background: $black !important;
    top: 0;
    position: relative;
  }

  .navbar-brand {
    color: $white;
  }

  .navbar-nav {
    > .nav-item {
      > .nav-link {
        font-size: 16px;
        padding-top: 0.9rem;
        padding-bottom: 0.9rem;
        padding-left: 20px;
        padding-right: 20px;
        color: $white;
        font-weight: 400;
        &:hover {
          color: $white;
        }
        opacity: 1 !important;
      }

      .dropdown-menu {
        border: none;
        background: $white;
        -webkit-box-shadow: 0px 10px 34px -20px rgba(0, 0, 0, 0.41);
        -moz-box-shadow: 0px 10px 34px -20px rgba(0, 0, 0, 0.41);
        box-shadow: 0px 10px 34px -20px rgba(0, 0, 0, 0.41);
      }

      &.serg-seperator {
        position: relative;
        margin-left: 20px;
        padding-left: 20px;
        @include media-breakpoint-down(md) {
          padding-left: 0;
          margin-left: 0;
        }
        &:before {
          position: absolute;
          content: "";
          top: 10px;
          bottom: 10px;
          left: 0;
          width: 2px;
          background: rgba($white, 0.05);
          @include media-breakpoint-down(md) {
            display: none;
          }
        }
      }
      &.cta {
        > a {
          color: $white;
          border: 1px solid rgba(255, 255, 255, 0.3);
          padding-top: 0.5rem;
          padding-bottom: 0.5rem;
          padding-left: 20px;
          padding-right: 20px;
          margin-top: 4px;
          @include border-radius(30px);
          span {
            display: inline-block;
          }
        }
        &.cta-colored {
          span {
            border-color: $primary;
          }
        }
      }
      &.active {
        > a {
          color: rgba(255, 255, 255, 0.5);
        }
      }
    }
  }
  .navbar-toggler {
    border: none;
    color: rgba(255, 255, 255, 0.5) !important;
    cursor: pointer;
    padding-right: 0;
    text-transform: uppercase;
    font-size: 16px;
    letter-spacing: 0.1em;
  }

  &.scrolled {
    position: fixed;
    right: 0;
    left: 0;
    top: 0;
    margin-top: -130px;
    background: $white !important;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
    .nav-item {
      &.active {
        > a {
          color: $primary !important;
        }
      }
      &.cta {
        > a {
          color: $white !important;
          background: $primary;
          border: none !important;
          padding-top: 0.5rem !important;
          padding-bottom: 0.5rem !important;
          padding-left: 20px;
          padding-right: 20px;
          margin-top: 6px !important;
          @include border-radius(30px);
          span {
            display: inline-block;
          }
        }
        &.cta-colored {
          span {
            border-color: $primary;
          }
        }
      }
    }

    .navbar-nav {
      @include media-breakpoint-down(md) {
        background: none;
        border-radius: 0px;
        padding-left: 0rem !important;
        padding-right: 0rem !important;
      }
    }

    .navbar-nav {
      @include media-breakpoint-down(sm) {
        background: none;
        padding-left: 0 !important;
        padding-right: 0 !important;
      }
    }

    .navbar-toggler {
      border: none;
      color: rgba(0, 0, 0, 0.5) !important;
      border-color: rgba(0, 0, 0, 0.5) !important;
      cursor: pointer;
      padding-right: 0;
      text-transform: uppercase;
      font-size: 16px;
      letter-spacing: 0.1em;
    }
    .nav-link {
      padding-top: 0.9rem !important;
      padding-bottom: 0.9rem !important;
      color: $black !important;
      &.active {
        color: $primary !important;
      }
    }
    &.awake {
      margin-top: 0px;
      transition: 0.3s all ease-out;
    }
    &.sleep {
      transition: 0.3s all ease-out;
    }

    .navbar-brand {
      color: $black;
    }
  }
}

.navbar-brand {
  font-weight: 700;
  line-height: 1;
  font-size: 18px;
  text-transform: uppercase;
  position: relative;
  padding-left: 35px;
  i {
    position: absolute;
    top: 5px;
    left: 0;
    font-size: 40px;
  }
  span {
    display: block;
    &:last-child {
      font-size: 28px;
    }
  }
}

.video-hero {
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 0;
  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    content: "";
    opacity: 0.5;
    @include gradient-background();
  }
}
.slider-text {
  color: $white;
  h1 {
    font-size: 55px;
    color: $white;
    line-height: 1.2;
    font-weight: 400;
    @include media-breakpoint-up(md) {
      margin-top: -50px;
    }
    @include media-breakpoint-down(md) {
      font-size: 40px;
    }
    strong {
      font-weight: 800;
    }
  }
  p {
    font-size: 20px;
    line-height: 1.5;
    font-weight: 300;
    color: rgba(0, 0, 0, 0.8);
    strong {
      font-weight: 700;
      a {
        color: $black;
      }
    }
  }
  .breadcrumbs {
    text-transform: uppercase;
    font-size: 13px;
    letter-spacing: 1px;
    margin-bottom: 20px;
    z-index: 99;
    margin-top: -100px;
    font-weight: 500;
    span {
      border-bottom: 2px solid rgba(255, 255, 255, 0.1);
      color: rgba(255, 255, 255, 0.7);
      a {
        color: $white;
      }
    }
  }
  .bread {
    font-weight: 500 !important;
    margin-top: -50px;
  }
  .btn-primary {
    border: 1px solid rgba(255, 255, 255, 0.4);
    @include border-radius(30px);
    &:hover,
    &:focus {
      background: $white !important;
      color: $black;
    }
  }
}

.serg-bible-study {
  margin-top: -150px;
  @include media-breakpoint-down(sm) {
    margin-top: 0;
  }
  .wrap {
    background: $footer;
  }
  .container {
    z-index: 2;
    padding: 30px;
    @include media-breakpoint-down(sm) {
      padding: 30px 20px;
    }
  }
  .one-forth {
    width: 35%;
    @include media-breakpoint-up(md) {
      border-right: 1px solid rgba(255, 255, 255, 0.1);
      padding-right: 35px;
    }
    @include media-breakpoint-down(sm) {
      width: 100%;
    }
  }
  .one-half {
    width: 65%;
    @include media-breakpoint-down(sm) {
      width: 100%;
      display: block;
    }
    .countdown-wrap {
      width: calc(100% - 145px);
      @include media-breakpoint-down(sm) {
        width: 100%;
      }
    }
    .button {
      width: 145px;
    }
  }
  h3 {
    color: $white;
  }
  p {
    color: rgba(255, 255, 255, 0.8);
  }
  .countdown {
    padding: 0 30px;
    @include media-breakpoint-down(sm) {
      padding: 0;
      margin-bottom: 30px;
    }
    span {
      display: inline-block;
      text-align: center;
      width: 25%;
      font-size: 40px;
      font-weight: 400;
    }
    small {
      display: block;
      font-size: 14px;
      font-weight: 300;
      font-family: $font-primary;
    }
  }
}

//OWL CAROUSEL
.owl-carousel {
  position: relative;
  .owl-item {
    opacity: 0.4;
    &.active {
      opacity: 1;
    }
  }

  .owl-nav {
    position: absolute;
    top: 50%;
    width: 100%;
    .owl-prev,
    .owl-next {
      position: absolute;
      transform: translateY(-50%);
      margin-top: -10px;
      @include transition(0.7s);
      span {
        &:before {
          font-size: 40px;
        }
      }
      opacity: 0;
    }
    .owl-prev {
      left: 0;
    }
    .owl-next {
      right: 0;
    }
  }
  .owl-dots {
    text-align: center;
    .owl-dot {
      width: 10px;
      height: 10px;
      margin: 5px;
      border-radius: 50%;
      background: lighten($black, 85%);
      &.active {
      }
    }
  }
  &:hover {
    .owl-nav {
      .owl-prev,
      .owl-next {
        opacity: 1;
      }
      .owl-prev {
        left: -20px;
      }
      .owl-next {
        right: -20px;
      }
    }
  }
}
.owl-custom-nav {
  float: right;
  position: relative;
  z-index: 10;
  border: 1px solid red;
  .owl-custom-prev,
  .owl-custom-next {
    padding: 10px;
    font-size: 30px;
    background: #ccc;
    line-height: 0;
    width: 60px;
    text-align: center;
    display: inline-block;
  }
}

.bg-light {
  background: #f8faff !important;
}

.bg-primary {
  background: $primary;
}

//BUTTON
.btn {
  cursor: pointer;
  @include border-radius(30px);
  box-shadow: none !important;
  &:hover,
  &:active,
  &:focus {
    outline: none;
  }
  &.btn-primary {
    background: $primary;
    border: 2px solid $primary;
    color: $white;
    &:hover {
      border: 2px solid $primary;
      background: transparent;
      color: $primary;
    }
    &.btn-outline-primary {
      border: 2px solid $primary;
      background: transparent;
      color: $primary;
      &:hover {
        border: 2px solid transparent;
        background: $primary;
        color: $white;
      }
    }
  }
  &.btn-outline-white {
    border-color: rgba($white, 0.8);
    background: none;
    @include border-radius(30px);
    border-width: 2px;
    color: $white;
    &:hover,
    &:focus,
    &:active {
      background: $white;
      border-color: $white;
      color: $primary;
    }
  }
}

.serg-section-2 {
  .container-fluid {
    padding-left: 0;
    padding-right: 0;
  }
  .section-2-blocks-wrapper {
    .button {
      display: block;
      position: absolute;
      width: 100px;
      height: 100px;
      right: 0;
      margin-right: -50px;
      border-radius: 50%;
      background: $primary;
      z-index: 1;
      top: 50%;
      transform: translateY(-50%);
      animation: pulse 2s infinite;
      @include media-breakpoint-down(md) {
        top: auto;
        bottom: 0 !important;
        margin-right: auto;
        right: auto;
        left: 50%;
        margin-bottom: -50px;
        transform: translateX(-50%);
      }
      span {
        position: absolute;
        font-size: 30px;
        color: $white;
        top: 50%;
        left: 50%;
        transform: translate(-30%, -48%);
      }
    }
    .text {
      position: relative;
      z-index: -1;
      padding: 15px;
      @include media-breakpoint-up(md) {
        padding: 10% 7%;
        // margin-top: -3em;
        background: rgba(0, 0, 0, 0.02);
      }
      h3 {
        margin-bottom: 50px;
      }
    }
    .img {
      background-position: center center;
      background-size: cover;
      @include media-breakpoint-down(sm) {
        height: 400px;
        margin-bottom: 70px;
      }
    }
  }
}

.serg-section-3 {
  position: relative;
  width: 100%;
  display: block;
  .nav-link-wrap {
    @include media-breakpoint-down(sm) {
      background: $primary;
    }
  }
  .nav-pills {
    p {
      margin-bottom: 0;
    }
    .nav-link {
      float: left;
      border-radius: 0;
      margin-bottom: 0;
      color: rgba(255, 255, 255, 0.6);
      font-size: 20px;
      font-weight: 400;
      position: relative;
      &:after {
        position: absolute;
        top: 20px;
        bottom: 10px;
        right: 0;
        content: "";
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 10px 10px 10px 0;
        border-color: transparent #fafafa transparent transparent;
        opacity: 0;
      }
      span {
        font-size: 24px;
        margin-right: 5px;
        color: rgba(255, 255, 255, 0.6);
      }
      &.active,
      &:hover {
        color: $white;
        font-size: 20px;
        @include transition(0.3s);
        background: transparent;
        font-weight: 500;
        &:after {
          opacity: 1;
        }
        span {
          color: $white;
        }
        @include media-breakpoint-down(sm) {
          &:after {
            opacity: 0;
          }
        }
      }
      @include media-breakpoint-down(sm) {
        display: block;
        width: 100%;
      }
    }
  }
  .tab-content {
    .tab-pane {
    }
  }
}

//SERVICES
.services {
  .icon {
    width: 110px;
    height: 110px;
    position: relative;
    background: lighten($primary, 28%);
    @include border-radius(50%);
    span {
      color: $primary;
    }
  }
  .media-body {
    h3 {
      font-size: 20px;
    }
  }
}
.list-services {
  margin-top: 40px;
  padding: 0;
  li {
    font-size: 18px;
    list-style: none;
    a {
      color: $black;
    }
  }
}

.serg-section-parallax {
  position: relative;
  .parallax-img {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    position: relative;
    padding: 10em 0;
    @include gradient-background();
  }
  .heading-section-white {
    h2 {
      font-weight: 400 !important;
    }
  }
}

//SERMONS
.sermons {
  margin-bottom: 4em;
  @include media-breakpoint-down(sm) {
    margin-bottom: 3em;
  }
  .img {
    display: block;
    height: 300px;
    .icon {
      width: 70px;
      height: 70px;
      background: $primary;
      color: $white;
      @include border-radius(50%);
    }
  }
  .text {
    h3 {
      font-size: 24px;
      font-weight: 500;
      a {
        color: $black;
      }
    }
    span.position {
      font-weight: 400;
      color: lighten($black, 70%);
      margin-bottom: 15px;
      display: block;
    }
  }
}

//EVENTS
.event-wrap {
  padding: 5%;
  @include media-breakpoint-up(md) {
    padding-top: 15%;
    padding-bottom: 15%;
    padding-right: 15%;
  }
  @include media-breakpoint-down(sm) {
    padding: 10% 5%;
  }
}
.event-entry {
  display: block;
  margin-bottom: 4em;
  .text {
    width: calc(100% - 100px);
  }
  .meta {
    width: 100px;
    span {
      display: block;
      text-align: right;
      color: $black;
      &:first-child {
        font-weight: 500;
        font-size: 40px;
        line-height: 1.2;
        margin-bottom: 4px;
      }
      &:last-child {
        text-transform: uppercase;
        font-size: 14px;
        font-weight: 400;
        color: lighten($black, 70%);
      }
    }
  }
  .img {
    height: 250px;
    display: block;
  }
  h3 {
    font-weight: 500;
    a {
      color: $black;
    }
  }
}

//### .block-3
.block-3 {
  @include media-breakpoint-up(md) {
    margin-bottom: 7em;
  }
  .text,
  .image {
    width: 100%;
    padding: 10% 7%;
    display: block;
    @include media-breakpoint-up(md) {
      width: 50%;
      padding: 10% 7%;
    }
  }
  .text {
    .subheading {
      font-size: 13px;
      text-transform: uppercase;
      letter-spacing: 0.1em;
      color: lighten($black, 50%);
    }
    .heading {
      font-size: 30px;
      margin-bottom: 30px;
      a {
        color: $black;
      }
    }
    p {
      &:last-child {
        margin-bottom: 0;
      }
    }
  }
  .image {
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    position: relative;
    &:after {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      content: "";
      box-shadow: 20px 20px 0 0 lighten($primary, 25%);
    }
    @include media-breakpoint-down(sm) {
      height: 300px;
    }
  }
}

//### .block-5
// USEFUL CODE
.aside-stretch {
  background: lighten($primary, 5%);
  position: relative;
  &:after {
    position: absolute;
    top: 0;
    right: 100%;
    bottom: 0;
    content: "";
    width: 360%;
    background: lighten($primary, 5%);
  }
  @include media-breakpoint-down(sm) {
    background: transparent;
    &:after {
      background: transparent;
      display: none;
    }
  }
}

.form-control {
  height: 52px !important;
  background: $white !important;
  color: $black !important;
  font-size: 18px;
  border-radius: 0px;
  box-shadow: none !important;
  &:focus,
  &:active {
    border-color: $black;
  }
}
textarea.form-control {
  height: inherit !important;
}
.serg-vh-100 {
  height: 100vh;
  @include media-breakpoint-down(lg) {
    height: inherit;
    padding-top: 5em;
    padding-bottom: 5em;
  }
}
.serg-vh-75 {
  height: 75vh;
  min-height: 700px;
  @include media-breakpoint-down(lg) {
    min-height: 700px;
    height: inherit;
    padding-top: 5em;
    padding-bottom: 5em;
  }
}

.serg-tab-nav {
  padding: 0;
  margin: 0;
  display: inline-block !important;
  @include media-breakpoint-down(sm) {
    display: block !important;
    margin-bottom: 10px;
    width: 100% !important;
  }
  li {
    padding: 0;
    margin: 0 5px;
    display: inline-block !important;
    @include media-breakpoint-down(sm) {
      display: block !important;
      margin-bottom: 10px;
      width: 100% !important;
    }
    a {
      text-transform: uppercase;
      font-size: 14px;
      letter-spacing: 0.2em;
      color: #ccc;
      border: 2px solid #ccc;
      border-radius: 0 !important;
      &.active {
        background: none !important;
        color: darken(#ccc, 100%) !important;
        border: 2px solid $black;
      }
    }
  }
}

.serg-animate {
  opacity: 0;
  visibility: hidden;
}

.bg-primary {
  background: $primary !important;
}
.serg-section {
  .serg-sub-title {
    font-size: 16px;
    text-transform: uppercase;
    letter-spacing: 0.5em;
    color: lighten(#ccc, 3%);
    font-family: $font-family-sans-serif;
    font-weight: 300;
  }
  .serg-primary-title {
    margin-top: 0;
    margin-bottom: 30px;
  }
}

//ABOUT
.media-custom {
  background: $white;
  .media-body {
    .name {
      font-weight: 500;
      font-size: 16px;
      margin-bottom: 0;
      color: $primary;
    }
    .position {
      font-size: 13px;
      color: lighten($black, 85%);
    }
  }
}

.about-author {
  img {
  }
  .desc {
    h3 {
      font-size: 24px;
    }
  }
  .bio {
  }
}

.serg-section {
  padding: 8em 0;
  position: relative;
  @include media-breakpoint-down(sm) {
    padding: 6em 0;
  }
}

.serg-bg-dark {
  background: #3c312e;
}

.serg-footer {
  font-size: 16px;
  background: $footer;
  padding: 12em 0 8em 0;
  .serg-footer-logo {
    text-transform: uppercase;
    letter-spacing: 0.1em;
  }
  .serg-footer-widget {
    h2 {
      font-weight: normal;
      color: $white;
      margin-bottom: 40px;
      font-size: 18px;
      font-weight: 400;
    }
    .logo {
      font-weight: 700;
      line-height: 1;
      font-size: 18px;
      text-transform: uppercase;
      position: relative;
      padding-left: 35px;
      a {
        color: $white;
      }
      i {
        position: absolute;
        top: 5px;
        left: 0;
        font-size: 40px;
      }
      span {
        display: block;
        &:last-child {
          font-size: 28px;
        }
      }
    }
    ul {
      li {
        a {
          span {
            color: $white;
          }
        }
      }
    }
  }
  p {
    color: rgba($white, 0.7);
  }
  a {
    color: rgba($white, 0.7);
    &:hover {
      color: $white;
    }
  }
  .serg-heading-2 {
    font-size: 17px;
    font-weight: 400;
    color: $black;
  }
}

.serg-footer-social {
  li {
    list-style: none;
    margin: 0 10px 0 0;
    display: inline-block;
    a {
      height: 50px;
      width: 50px;
      display: block;
      float: left;
      background: rgba($white, 0.05);
      border-radius: 50%;
      position: relative;
      span {
        position: absolute;
        font-size: 26px;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
      &:hover {
        color: $white;
      }
    }
  }
}
.footer-small-nav {
  > li {
    display: inline-block;
    a {
      margin: 0 10px 10px 0;
      &:hover,
      &:focus {
        color: $primary;
      }
    }
  }
}
.media {
  .serg-icon {
    width: 100px;
    span {
      color: $primary;
    }
  }
}
.serg-media {
  background: $white;
  border-radius: 0px;
  .heading {
    font-weight: normal;
  }
  &.serg-media-shadow {
    padding: 40px;
    background: $white;
    box-shadow: 0 10px 50px -15px rgba(0, 0, 0, 0.3);
    transition: 0.2s all ease;
    position: relative;
    top: 0;
    &:hover,
    &:focus {
      top: -3px;
      box-shadow: 0 10px 70px -15px rgba(0, 0, 0, 0.3);
    }
  }
  .icon {
    font-size: 50px;
    display: block;
    color: $primary;
  }
  &.text-center {
    .serg-icon {
      margin: 0 auto;
    }
  }
}
.serg-overflow-hidden {
  overflow: hidden;
}

.padding-top-bottom {
  padding-top: 120px;
  padding-bottom: 120px;
}

// Map

#map {
  height: 400px;
  width: 100%;
  @include media-breakpoint-down(md) {
    height: 300px;
  }
}

@-webkit-keyframes pulse {
  0% {
    -webkit-box-shadow: 0 0 0 0 rgba($primary, 0.4);
  }
  70% {
    -webkit-box-shadow: 0 0 0 30px rgba($primary, 0);
  }
  100% {
    -webkit-box-shadow: 0 0 0 0 rgba($primary, 0);
  }
}
@keyframes pulse {
  0% {
    -moz-box-shadow: 0 0 0 0 rgba($primary, 0.4);
    box-shadow: 0 0 0 0 rgba($primary, 0.4);
  }
  70% {
    -moz-box-shadow: 0 0 0 30px rgba($primary, 0);
    box-shadow: 0 0 0 30px rgba($primary, 0);
  }
  100% {
    -moz-box-shadow: 0 0 0 0 rgba($primary, 0);
    box-shadow: 0 0 0 0 rgba($primary, 0);
  }
}

.heading-section {
  .subheading {
    font-size: 13px;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 2px;
    color: rgba(0, 0, 0, 0.2);
  }
  h2 {
    font-size: 38px;
    font-weight: 700;
    @include media-breakpoint-down(sm) {
      font-size: 28px;
    }
  }
  &.heading-section-white {
    .subheading {
      color: rgba(255, 255, 255, 0.7);
    }
    h2 {
      font-size: 40px;
      color: $white;
      font-weight: 700;
    }
    p {
      font-size: 20px;
      color: rgba(255, 255, 255, 0.7);
    }
  }
}

//COVER BG
.img,
.work-img,
.blog-img,
.user-img {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

//TESTIMONY
.testimony-section {
  position: relative;
  .owl-carousel {
    margin: 0;
  }
  .owl-carousel .owl-stage-outer {
    padding-bottom: 2em;
    position: relative;
  }
}
.testimony-wrap {
  -webkit-box-shadow: 0px 4px 18px -12px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 4px 18px -12px rgba(0, 0, 0, 0.75);
  -ms-box-shadow: 0px 4px 18px -12px rgba(0, 0, 0, 0.75);
  -o-box-shadow: 0px 4px 18px -12px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 4px 18px -12px rgba(0, 0, 0, 0.75);
  background: $white;
  display: block;
  position: relative;
  .user-img {
    width: 100px;
    height: 100px;
    border-radius: (50%);
    margin: 0 auto;
    position: relative;
    .quote {
      position: absolute;
      bottom: -10px;
      right: 0;
      width: 40px;
      height: 40px;
      background: lighten($primary, 25);
      @include border-radius(50%);
      i {
        color: $primary;
      }
    }
  }
  .name {
    font-weight: 500;
    font-size: 16px;
    margin-bottom: 0;
  }
  .position {
    font-size: 13px;
  }
}

// magnific pop up

.image-popup {
  cursor: -webkit-zoom-in;
  cursor: -moz-zoom-in;
  cursor: zoom-in;
}
.mfp-with-zoom .mfp-container,
.mfp-with-zoom.mfp-bg {
  opacity: 0;
  -webkit-backface-visibility: hidden;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

.mfp-with-zoom.mfp-ready .mfp-container {
  opacity: 1;
}
.mfp-with-zoom.mfp-ready.mfp-bg {
  opacity: 0.8;
}

.mfp-with-zoom.mfp-removing .mfp-container,
.mfp-with-zoom.mfp-removing.mfp-bg {
  opacity: 0;
}

.serg-counter {
  padding: 10em 0;
  .icon {
    span {
    }
  }
  .text {
    strong.number {
      font-weight: 400;
      font-size: 40px;
      color: $black;
    }
    span {
      font-size: 20px;
      color: rgba(0, 0, 0, 0.7);
    }
  }
  .counter-wrap {
    @include media-breakpoint-down(sm) {
      margin-bottom: 20px;
    }
  }
  .serg-number {
    display: block;
    font-size: 72px;
    font-weight: bold;
    color: $primary;
  }
  .serg-label {
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 0.1em;
  }
}

//blocks
.block-20 {
  overflow: hidden;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  height: 350px;
  position: relative;
  display: block;
}
.blog-entry {
  background: $white;
  -webkit-box-shadow: 0px 4px 18px -12px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 4px 18px -12px rgba(0, 0, 0, 0.75);
  -ms-box-shadow: 0px 4px 18px -12px rgba(0, 0, 0, 0.75);
  -o-box-shadow: 0px 4px 18px -12px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 4px 18px -12px rgba(0, 0, 0, 0.75);
  border: 1px solid lighten($black, 94%);
  @include media-breakpoint-up(md) {
    margin-bottom: 30px;
  }
  @include media-breakpoint-down(sm) {
    margin-bottom: 30px;
  }
  .text {
    position: relative;
    border-top: 0;
    border-radius: 2px;
    .heading {
      font-size: 20px;
      margin-bottom: 16px;
      a {
        color: $black;
        &:hover,
        &:focus,
        &:active {
          color: $primary;
        }
      }
    }
    .meta-chat {
      color: lighten($black, 40%);
    }
    .read {
      color: $black;
      font-size: 14px;
    }
  }
  .meta {
    > div {
      display: inline-block;
      margin-right: 5px;
      margin-bottom: 5px;
      font-size: 15px;
      a {
        color: lighten($black, 40%);
        font-size: 15px;
        &:hover {
          color: lighten($black, 80%);
        }
      }
    }
  }
}

.block-6 {
  margin-bottom: 40px;
  .icon {
    span {
      &:before {
        font-size: 50px;
      }
    }
  }
  .media-body {
    .heading {
    }
    p {
      font-size: 16px;
    }
  }
}

//### .block-10
.block-10 {
  margin-bottom: 30px;
  .img {
    width: 110px;
    height: 110px;
    @include border-radius(50%);
    @include media-breakpoint-down(sm) {
      display: block;
      margin: 0 auto;
      margin-bottom: 15px;
    }
  }
  .person-info {
    width: calc(100% - 110px);
    @include media-breakpoint-down(sm) {
      display: block;
      width: 100%;
      text-align: center;
    }
    span {
      display: block;
    }
    .name {
      font-size: 22px;
      color: $black;
      font-weight: 400;
    }
    .position {
      font-size: 16px;
      color: lighten($black, 70%);
      font-weight: 400;
    }
  }
}

.block-23 {
  ul {
    padding: 0;
    li {
      &,
      > a {
        display: table;
        line-height: 1.5;
        margin-bottom: 15px;
      }
      span {
        color: rgba($white, 0.7);
      }
      .icon,
      .text {
        display: table-cell;
        vertical-align: top;
      }
      .icon {
        width: 40px;
        font-size: 18px;
        padding-top: 2px;
        color: #ccc;
      }
    }
  }
}

.block-17 {
  form {
    .fields {
      // width: calc(100% - 140px);
      width: 100%;
      position: relative;
      @include media-breakpoint-down(md) {
        width: 100%;
      }
      .one-third {
        width: 100% !important;
        margin-bottom: 10px;
        @include media-breakpoint-down(md) {
          width: 100%;
          border-right: none;
          padding-left: 0;
          padding-right: 0;
          margin-bottom: 10px;
        }
        &:first-child {
          // padding-left: 0;
        }
        &:last-child {
          border-right: none;
        }
        label {
          font-weight: 700;
          color: $black;
        }
      }
      .form-control {
        box-shadow: none !important;
        border: transparent;
        background: transparent !important;
        color: lighten($black, 30%) !important;
        border: 2px solid rgba(0, 0, 0, 0.1);
        font-size: 14px;
        width: 100%;
        @include border-radius(4px);
        &::-webkit-input-placeholder {
          /* Chrome/Opera/Safari */
          color: lighten($black, 30%);
        }
        &::-moz-placeholder {
          /* Firefox 19+ */
          color: lighten($black, 30%);
        }
        &:-ms-input-placeholder {
          /* IE 10+ */
          color: lighten($black, 30%);
        }
        &:-moz-placeholder {
          /* Firefox 18- */
          color: lighten($black, 30%);
        }
      }
      .icon {
        position: absolute;
        top: 50%;
        right: 30px;
        font-size: 14px;
        transform: translateY(-50%);
        color: rgba($black, 0.7);
        @include media-breakpoint-down(sm) {
          right: 10px;
        }
      }
      .textfield-search,
      .select-wrap {
      }
      .textfield-search {
        input {
        }
      }
      .select-wrap {
        position: relative;
        select {
          appearance: none;
        }
      }
    }
    .search-submit {
      width: 100%;
      background: $primary;
      border: 2px solid $primary;
      color: $white;
      padding: 12px 10px;
      @include border-radius(4px);
      &:hover {
        background: $black;
        color: $white;
        border: 2px solid $black;
      }
    }
  }
}

//### .block-18
.block-18 {
  .icon,
  .text {
  }
  .icon {
    > span {
      font-size: 40px;
    }
  }
  .text {
    strong {
      font-size: 30px;
    }
    span {
      display: block;
    }
  }
}

.block-27 {
  ul {
    padding: 0;
    margin: 0;
    li {
      display: inline-block;
      margin-bottom: 4px;
      font-weight: 400;
      a,
      span {
        color: $primary;
        text-align: center;
        display: inline-block;
        width: 40px;
        height: 40px;
        line-height: 40px;
        border-radius: 50%;
        border: 1px solid lighten($primary, 25%);
      }
      &.active {
        a,
        span {
          background: lighten($primary, 25%);
          color: $primary;
          border: 1px solid transparent;
        }
      }
    }
  }
}

.block-7 {
  margin-bottom: 30px;
  padding: 30px;
  box-shadow: 0 10px 30px -5px rgba(0, 0, 0, 0.11);
  background: $white;
  @include media-breakpoint-up(md) {
    padding: 40px;
  }
  .heading {
    font-size: 50px;
    line-height: 1;
    margin: 0;
    padding: 0;
  }
  .heading-2 {
    font-size: 16px;
    font-weight: normal;
    text-transform: uppercase;
  }
  .price {
    margin: 0;
    padding: 0;
    display: block;
    sup {
      font-size: 20px;
      top: -2em;
    }
    .number {
      font-size: 80px;
    }
  }
  .excerpt {
    margin-bottom: 20px;
    color: darken(#ccc, 10%);
  }
  .label2 {
    text-transform: uppercase;
  }
  .pricing-text {
    margin-bottom: 0;
    &,
    li {
      padding: 0;
      margin: 0;
    }
    li {
      list-style: none;
      margin-bottom: 10px;
      color: darken(#ccc, 10%);
      strong {
        color: $black;
      }
    }
  }
}

.block-8 {
  .accordion-item {
    .heading {
      font-size: 16px;
      font-weight: 400;
      padding: 10px 0;
      > a {
        padding-left: 35px;
        position: relative;
        color: $black;
        &:before {
          width: 20px;
          height: 20px;
          line-height: 18px;
          border: 1px solid #ccc;
          text-align: center;
          font-size: 18px;
          top: 0.1em;
          left: 0;
        }
        &[aria-expanded="true"] {
          &:before {
            font-family: "icomoon";
            position: absolute;
            content: "\e316";
            transition: 0.3s all ease;
            background: $primary;
            color: $white;
            border: 1px solid $primary;
          }
        }
        &[aria-expanded="false"] {
          &:before {
            content: "\e313";
            color: #ccc;
            font-family: "icomoon";
            position: absolute;

            transition: 0.3s all ease;
          }
        }
      }
    }
    .body-text {
      font-size: 16px;
      padding: 5px 0;
      padding-left: 30px;
    }
  }
}

.contact-section {
  margin-top: -250px;
  .container {
    z-index: 2;
    padding: 30px;
    @include media-breakpoint-up(md) {
      padding: 70px;
    }
  }
  .contact-info {
    p {
      a {
        color: lighten($black, 10%);
      }
      span {
      }
    }
  }
}
.block-9 {
  .form-control {
    outline: none !important;
    box-shadow: none !important;
    font-size: 15px;
  }
  #map {
  }
}

//### .block-21
.block-21 {
  .blog-img {
    display: block;
    height: 80px;
    width: 80px;
  }
  .text {
    width: calc(100% - 100px);
    .heading {
      font-size: 18px;
      font-weight: 300;
      a {
        color: $black;
        &:hover,
        &:active,
        &:focus {
          color: $primary;
        }
      }
    }
    .meta {
      > div {
        display: inline-block;
        font-size: 12px;
        margin-right: 5px;
        a {
          color: lighten($black, 50%);
        }
      }
    }
  }
}

.custom-pagination {
  width: 100%;
  text-align: center;
  display: inline-block;
  li {
    display: inline-block;
  }
  .prev,
  .next {
    a {
      font-size: 20px !important;
      line-height: 38px !important;
    }
  }
  li,
  .prev,
  .next {
    a {
      width: 40px;
      height: 40px;
      line-height: 40px;
      padding: 0;
      margin: 0;
      border-radius: 50% !important;
      font-size: 16px;
    }
    &.active {
      a {
        display: block;
        width: 40px;
        height: 40px;
        line-height: 40px;
        padding: 0;
        margin: 0;
        border-radius: 50% !important;
        font-size: 16px;
        background: $primary;
        color: $white;
        &:hover,
        &:focus {
          color: $white;
        }
      }
    }
  }
  .prev {
    float: left;
  }
  .next {
    float: right;
  }
}

/* Blog*/
.post-info {
  font-size: 12px;
  text-transform: uppercase;
  font-weight: bold;
  color: $white;
  letter-spacing: 0.1em;
  > div {
    display: inline-block;

    .seperator {
      display: inline-block;
      margin: 0 10px;
      opacity: 0.5;
    }
  }
}

.tagcloud {
  a {
    text-transform: uppercase;
    display: inline-block;
    padding: 4px 10px;
    margin-bottom: 7px;
    margin-right: 4px;
    border-radius: 4px;
    color: $black;
    border: 1px solid #ccc;
    font-size: 11px;
    &:hover {
      border: 1px solid #000;
    }
  }
}

.comment-form-wrap {
  clear: both;
}

.comment-list {
  padding: 0;
  margin: 0;
  .children {
    padding: 50px 0 0 40px;
    margin: 0;
    float: left;
    width: 100%;
  }
  li {
    padding: 0;
    margin: 0 0 30px 0;
    float: left;
    width: 100%;
    clear: both;
    list-style: none;
    .vcard {
      width: 80px;
      float: left;
      img {
        width: 50px;
        border-radius: 50%;
      }
    }
    .comment-body {
      float: right;
      width: calc(100% - 80px);
      h3 {
        font-size: 20px;
      }
      .meta {
        text-transform: uppercase;
        font-size: 13px;
        letter-spacing: 0.1em;
        color: #ccc;
      }
      .reply {
        padding: 5px 10px;
        background: lighten($black, 90%);
        color: $black;
        text-transform: uppercase;
        font-size: 11px;
        letter-spacing: 0.1em;
        font-weight: 400;
        border-radius: 4px;
        &:hover {
          color: $white;
          background: lighten($black, 0%);
        }
      }
    }
  }
}

.search-form {
  background: lighten($black, 94%);
  padding: 10px;

  .form-group {
    position: relative;
    input {
      padding-right: 50px;
    }
  }
  .icon {
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
  }
}

.subscribe-form {
  .form-group {
    position: relative;
    margin-bottom: 0;
    input {
      padding-right: 50px;
      background: transparent !important;
      border: 1px solid rgba(255, 255, 255, 0.7);
      color: rgba(255, 255, 255, 0.8) !important;
      @include border-radius(30px);
      &::-webkit-input-placeholder {
        /* Chrome/Opera/Safari */
        color: rgba(255, 255, 255, 0.8) !important;
      }
      &::-moz-placeholder {
        /* Firefox 19+ */
        color: rgba(255, 255, 255, 0.8) !important;
      }
      &:-ms-input-placeholder {
        /* IE 10+ */
        color: rgba(255, 255, 255, 0.8) !important;
      }
      &:-moz-placeholder {
        /* Firefox 18- */
        color: rgba(255, 255, 255, 0.8) !important;
      }
    }
  }
  .icon {
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
    color: rgba(255, 255, 255, 0.8);
  }
}

// sidebar
.sidebar-box {
  margin-bottom: 30px;
  padding: 25px;
  font-size: 15px;
  width: 100%;

  float: left;

  background: $white;
  *:last-child {
    margin-bottom: 0;
  }
  h3 {
    font-size: 18px;
    margin-bottom: 15px;
  }
}

.categories,
.sidelink {
  li {
    position: relative;
    margin-bottom: 10px;
    padding-bottom: 10px;
    border-bottom: 1px dotted gray("300");
    list-style: none;
    &:last-child {
      margin-bottom: 0;
      border-bottom: none;
      padding-bottom: 0;
    }
    a {
      display: block;
      span {
        position: absolute;
        right: 0;
        top: 0;
        color: #ccc;
      }
    }
    &.active {
      a {
        color: $black;
        font-style: italic;
      }
    }
  }
}

#serg-loader {
  position: fixed;
  width: 96px;
  height: 96px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(255, 255, 255, 0.9);
  box-shadow: 0px 24px 64px rgba(0, 0, 0, 0.24);
  border-radius: 16px;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.2s ease-out, visibility 0s linear 0.2s;
  z-index: 1000;
}

#serg-loader.fullscreen {
  padding: 0;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  transform: none;
  background-color: #fff;
  border-radius: 0;
  box-shadow: none;
}

#serg-loader.show {
  transition: opacity 0.4s ease-out, visibility 0s linear 0s;
  visibility: visible;
  opacity: 1;
}

#serg-loader .circular {
  animation: loader-rotate 2s linear infinite;
  position: absolute;
  left: calc(50% - 24px);
  top: calc(50% - 24px);
  display: block;
  transform: rotate(0deg);
}

#serg-loader .path {
  stroke-dasharray: 1, 200;
  stroke-dashoffset: 0;
  animation: loader-dash 1.5s ease-in-out infinite;
  stroke-linecap: round;
}

@keyframes loader-rotate {
  100% {
    transform: rotate(360deg);
  }
}

@keyframes loader-dash {
  0% {
    stroke-dasharray: 1, 200;
    stroke-dashoffset: 0;
  }
  50% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -35px;
  }
  100% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -136px;
  }
}
