<footer class="serg-footer serg-section" style="background-color:black; border-radius: 50% 50% 0 0/10%;">
  <div class="container">
    <div class="row mb-5">
      <div class="col-md">
        <div class="serg-footer-widget mb-4">
          <h2 class="logo"><a href="index.html"><span>Wisdom</span><span>Church</span></a></h2>
          <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the
            blind texts.</p>
        </div>
      </div>
      <div class="col-md">
        <div class="serg-footer-widget mb-4 ml-md-5">
          <h2 class="serg-heading-2">Quick Links</h2>
          <ul class="list-unstyled">
            <li><a href="#" class="py-2 d-block">Church kids</a></li>
            <li><a href="#" class="py-2 d-block">Community</a></li>
            <li><a href="#" class="py-2 d-block">Ministries</a></li>
            <li><a href="#" class="py-2 d-block">Message</a></li>
            <li><a href="#" class="py-2 d-block">Sermons</a></li>
            <li><a href="#" class="py-2 d-block">Events</a></li>
          </ul>
        </div>
      </div>
      <div class="col-md">
        <div class="serg-footer-widget mb-4">
          <h2 class="serg-heading-2">Contact Information</h2>
          <ul class="list-unstyled">
            <li><a href="#" class="py-2 d-block">198 West 21th Street, Suite 721 Addis Ababa AA 10016</a></li>
            <li><a href="#" class="py-2 d-block">+ 1235 2355 98</a></li>
            <li><a href="#" class="py-2 d-block">info@yoursite.com</a></li>
            <li><a href="#" class="py-2 d-block">email@email.com</a></li>
          </ul>
        </div>
      </div>
      <div class="col-md">
        <div class="serg-footer-widget mb-4">
          <div class="block-23 mb-3">
            <ul>
              <li><span class="icon icon-map-marker"></span><span class="text">203 Fake St. Mountain View, San
                  Francisco, California, USA</span></li>
              <li><a href="#"><span class="icon icon-phone"></span><span class="text">+2 392 3929 210</span></a></li>
              <li><a href="#"><span class="icon icon-envelope"></span><span class="text">info@yourdomain.com</span></a>
              </li>
              <li><span class="icon icon-clock-o"></span><span class="text">Saturday &mdash; Sunday 8:00am -
                  5:00pm</span></li>
            </ul>
          </div>
          <ul class="serg-footer-social list-unstyled float-md-left float-lft">
            <li class="serg-animate"><a href="#"><span class="icon-twitter"></span></a></li>
            <li class="serg-animate"><a href="#"><span class="icon-facebook"></span></a></li>
            <li class="serg-animate"><a href="#"><span class="icon-instagram"></span></a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 text-center">

        <p>
          Copyright &copy;<script>
            document.write(new Date().getFullYear());

          </script> All rights reserved </p>
      </div>
    </div>
  </div>
</footer>



<script>
  // Set the date we're counting down to
  var countDownDate = new Date("May 25, 2021 15:37:25").getTime();

  // Update the count down every 1 second
  var x = setInterval(function () {

    // Get today's date and time
    var now = new Date().getTime();

    // Find the distance between now and the count down date
    var distance = countDownDate - now;

    // Time calculations for days, hours, minutes and seconds
    var days = Math.floor(distance / (1000 * 60 * 60 * 24));
    var hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
    var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
    var seconds = Math.floor((distance % (1000 * 60)) / 1000);

    // Output the result in an element with id="demo"
    document.getElementById("demo").innerHTML = days + "d " + hours + "h " +
      minutes + "m " + seconds + "s ";

    // If the count down is over, write some text 
    if (distance < 0) {
      clearInterval(x);
      document.getElementById("demo").innerHTML = "EXPIRED";
    }
  }, 1000);

</script>


<!-- loader -->
