<admin-header></admin-header>
<br><br><br><br>
<div class="container">
  <div class="row">
    <div class="col-md-4 mb-3">
        <div class="card" style="width: 18rem;">
          <div class="card-body">
            <h5 class="card-title">12</h5>
            <h3 class="card-text">Total Reservations</h3>
           </div>
        </div>
      </div>
    <div class="col-md-4 mb-3">
      <div class="card" style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title">31</h5>
          <h3 class="card-text">Vendors</h3>
        </div>
      </div>
    </div>
    <div class="col-md-4 mb-3">
      <div class="card" style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title">12</h5>
          <h3 class="card-text"> Comments</h3>
        </div>
      </div>
    </div>
 
      <div class="col-md-4 mb-3">
        <div class="card" style="width: 18rem;">
          <div class="card-body">
            <h5 class="card-title">12</h5>
            <h3 class="card-text">Venue Rental</h3>
           </div>
        </div>
      </div>
      <div class="col-md-4 mb-3">
        <div class="card" style="width: 18rem;">
          <div class="card-body">
            <h5 class="card-title">12</h5>
            <h3 class="card-text">Catering Service</h3>
           </div>
        </div>
      </div>
      <div class="col-md-4 mb-3">
        <div class="card" style="width: 18rem;">
          <div class="card-body">
            <h5 class="card-title">12</h5>
            <h3 class="card-text">Car Rental & Decor</h3>
           </div>
        </div>
      </div>
      <div class="col-md-4 mb-3">
        <div class="card" style="width: 18rem;">
          <div class="card-body">
            <h5 class="card-title">12</h5>
            <h3 class="card-text">Dj</h3>
           </div>
        </div>
      </div>
      <div class="col-md-4 mb-3" >
        <div class="card" style="width: 18rem;">
          <div class="card-body">
            <h5 class="card-title">12</h5>
            <h3 class="card-text">Photography & Videography</h3>
           </div>
        </div>
      </div>
      <div class="col-md-4 mb-3">
        <div class="card" style="width: 18rem;">
          <div class="card-body">
            <h5 class="card-title">12</h5>
            <h3 class="card-text">Full Wedding Planners</h3>
           </div>
        </div>
      </div>
        
    <div class="col-md-12"><br><br>
      <h2 style="text-align:center;"> View or Delete Comments </h2><br>
      <div class="table-responsive">
        <table class="table">

        </table>
      </div>

      <div class="table-responsive-md">
        <table class="table">
          <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Email</th>
            <th scope="col">Message</th>
            <th scope="col">Action</th>

          </tr>
          <tr>
            <th scope="col">1</th>
            <th scope="col">Henok</th>
            <th scope="col">Henok@test.com</th>
            <th scope="col">Some thing about the weddingSome thing about the weddingSome thing about the weddingSome
              thing about the weddingSome thing about the weddingSome thing about the wedding</th>
            <th scope="col"><a href="#">Delete</a></th>

          </tr>
        </table>
      </div>


    </div>

  </div>

</div>

<admin-footer></admin-footer>
