<app-header></app-header>




<section id="home"
  style="height: 500px; background-image: url(../../../assets/images/bg_1.jpg);  background-size:cover; background-position: center center;background-attachment:fixed;"
  data-section="home">
  <div class="overlay "></div>
  <div class="container">
    <div class="row no-gutters slider-text js-fullheight align-items-center justify-content-center"
      data-scrollax-parent="true">
      <div class="col-md-10 ftco-animate text-center" data-scrollax=" properties: { translateY: '70%' }">
        <p class="breadcrumbs mb-2" data-scrollax="properties: { translateY: '30%', opacity: 1.6 }"><span
            class="mr-2"><a routerLink="/">Home</a></span> <span>Services</span></p>
        <!-- <h1 class="mb-3 mt-0 bread" data-scrollax="properties: { translateY: '30%', opacity: 1.6 }">Contact</h1> -->
      </div>
    </div>
  </div>
</section>
<div class="site-section bg-light">
<div class="container">

  <div class="overlap-category mb-5">
    <div class="row align-items-stretch no-gutters">
      <div class="col-sm-6 col-md-4 mb-4 mb-lg-0 col-lg-2">
        <a href="#" class="popular-category h-100">
          <span class="icon"><span class="flaticon-house"></span></span>
          <span class="caption mb-2 d-block">Full Service</span>
          <span class="number">21</span>
        </a>
      </div>
      <div class="col-sm-6 col-md-4 mb-4 mb-lg-0 col-lg-2">
        <a href="#" class="popular-category h-100">
          <span class="icon"><span class="flaticon-books"></span></span>
          <span class="caption mb-2 d-block">Venue Rental</span>
          <span class="number">8</span>
        </a>
      </div>
      <div class="col-sm-6 col-md-4 mb-4 mb-lg-0 col-lg-2">
        <a href="#" class="popular-category h-100">
          <span class="icon"><span class="flaticon-bunk-bed"></span></span>
          <span class="caption mb-2 d-block">Catering Service</span>
          <span class="number">1,229</span>
        </a>
      </div>
      <div class="col-sm-6 col-md-4 mb-4 mb-lg-0 col-lg-2">
        <a href="#" class="popular-category h-100">
          <span class="icon"><span class="flaticon-innovation"></span></span>
          <span class="caption mb-2 d-block">Car Rental & Decor</span>
          <span class="number">32,891</span>
        </a>
      </div>
      <div class="col-sm-6 col-md-4 mb-4 mb-lg-0 col-lg-2">
        <a href="#" class="popular-category h-100">
          <span class="icon"><span class="flaticon-car"></span></span>
          <span class="caption mb-2 d-block">Photography & Videography</span>
          <span class="number">29,221</span>
        </a>
      </div>
      <div class="col-sm-6 col-md-4 mb-4 mb-lg-0 col-lg-2">
        <a href="#" class="popular-category h-100">
          <span class="icon"><span class="flaticon-pizza"></span></span>
          <span class="caption mb-2 d-block">Dj</span>
          <span class="number">219</span>
        </a>
      </div>
    </div>
  </div>
  <section class="ftco-bible-study">
    <div class="container-wrap">
      <div class="col-md-12 wrap">
        <div class="container">
          <div class="row">
            <div class="col-md-12 d-md-flex">
              <div class="one-forth ftco-animate"><br><br>
                <h3>Search from <span style="color:blue"> 12+ </span> Service Providers</h3>
                <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia.</p>
              </div>
          
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section>
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <form action="">
            <div class="form-group ">
              <input type="text" class="form-control " placeholder="Search Vendors by name" style="border-radius: 25px" width="50%">
            </div>
          </form>

        </div>
      </div>
    </div>

  </section><br>

  <section class="ftco-section">
    <div class="container">
      <div class="row">
        <div class="col-md-4 ftco-animate" *ngFor = "let item of data">
          <div class="blog-entry" style="border-radius:20px">
            <a [routerLink]="['/vendor/profile']" [queryParams]="{id: item._id}" class="block-17" ><img src="../../../assets/images/uploads/{{item.covere_pic}}"  width="100%" alt="">
            </a>
            <div class="text p-4 d-block">
              <div class="meta mb-3">
                <div><a href="#">{{item.service_type}}</a></div>
                <div>
                  <div class="form-group">
                    <div class="rating">
                      <input type="radio" id="star5" name="rate" value="5" />
                      <label for="star5" title="text">5 stars</label>
                      <input type="radio" id="star4" name="rate" value="4" />
                      <label for="star4" title="text">4 stars</label>
                      <input type="radio" id="star3" name="rate" value="3" />
                      <label for="star3" title="text">3 stars</label>
                      <input type="radio" id="star2" name="rate" value="2" />
                      <label for="star2" title="text">2 stars</label>
                      <input type="radio" id="star1" name="rate" value="1" />
                      <label for="star1" title="text">1 star</label>
                    </div>
                  </div>
                </div>
               </div>
              <h3 class="heading"><a [routerLink]="['/vendor/profile']" [queryParams]="{id: item._id}">{{item.company_name}}</a>
              </h3>
              <p>{{item.slogan}}</p>
            </div>
          </div>
        </div> 
      </div>
      
    </div>
  </section>

















<app-footer></app-footer>
