<nav class="navbar navbar-expand-lg navbar-dark serg_navbar bg-dark serg-navbar-light" id="serg-navbar">
  <div class="container">
    <a class="navbar-brand" routerLink="/"> <span>Serg</span>
      <span></span></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#serg-nav" aria-controls="serg-nav"
      aria-expanded="false" aria-label="Toggle navigation">
      <span class="oi oi-menu"></span> Menu
    </button>

    <div class="collapse navbar-collapse" id="serg-nav">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item active"><a routerLink="/" class="nav-link">Home</a></li>
        <li class="nav-item"><a routerLink="/about" class="nav-link">About</a></li>
        <li class="nav-item"><a routerLink="/services" class="nav-link">Services</a></li>

        <li class="nav-item"><a routerLink="/contact" class="nav-link">Contact</a></li>
      </ul>
      <ul class="navbar-nav ml-auto">
        <li class="nav-item" style="color:white !important">Are you a Vendor? <a routerLink="/login"> login </a>
        <li class="nav-item"><a routerLink="/vendor">| Register</a>

      </ul>

    </div>
  </div>
</nav>
