<app-header></app-header>




<header>
  <!-- Banner Starts Here -->
  <div class="main-banner header-text" id="top">
    <div class="Modern-Slider">
      <!-- Item -->
      <div class="item item-1">
        <div class="img-fill">
          <div class="text-content">
            <h1 class="mb-4" data-scrollax="properties: { translateY: '30%', opacity: 1.6 }"><strong></strong> </h1>
            <h6>we are here to guide you</h6>
            <h4>Plan Your Wedding Online </h4>
            <p>Serg is a place where you can organize your wedding from the available service providers.</p>
            <a href="#" class="btn btn-primary btn-outline-white px-4 py-3">Start Planning your Wedding</a>
            <a class="btn btn-primary btn-outline-white px-4 py-3"></a>
            <a href="#" class="btn btn-primary btn-outline-white px-4 py-3">Are you a Vendor?</a>
          </div>
        </div>
      </div>
      <!-- // Item -->
      <!-- Item -->
      <!-- <div class="item item-2">
        <div class="img-fill">
          <div class="text-content">
            <h6>we are here to guide you</h6>
            <h4>What is Serg? </h4>
            <p>Serg is a place where you can organize your wedding from the available service providers.</p>
            <a href="#" class="btn btn-primary btn-outline-white px-4 py-3">Learn More</a>
            <a class="btn btn-primary btn-outline-white px-4 py-3"></a>
            <a href="#" class="btn btn-primary btn-outline-white px-4 py-3">Contact Us</a>

          </div>
        </div>
      </div> -->
      <!-- // Item -->
    </div>
  </div>
</header>

<!-- Banner Ends Here -->


<section class="serg-animate">
  <div class="container-fluid">
    <div class="section-2-blocks-wrapper d-flex row no-gutters">
      <div class="img col-md-6  " style="background-image: url('../../../../assets/images/serg/wedding-2.png');">
        <a href="https://vimeo.com/45830194" class="button popup-vimeo"><span class="ion-ios-play"></span></a>
      </div>
      <div class="text col-md-6  ">
        <div class="text-inner align-self-start">
          <h3>
            <div style="align-content: center;">
              <h1 class="moving animated fadeIn wow" data-wow-delay="0.4s" style="font-weight: 900;  margin: 2rem;">
                How to Get started?</h1>
            </div>
          </h3>
          <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the
            blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language
            ocean.</p>

          <p>A small river named Duden flows by their place and supplies it with the necessary regelialia. It is a
            paradisematic country, in which roasted parts of sentences fly into your mouth.</p>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="">
  <div class="container">
    <div class="row justify-content-center mb-5 pb-5">
      <div class="col-md-6 text-center heading-section  ">
        <span class="subheading">Our Services</span>
        <h2 class="mb-4">What can you find at Serg?</h2>
        <p>Here are the services Serg provides for you, so that you can reserve and finish payment just from your
          device.</p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 col-lg-4 d-flex align-self-stretch  ">
        <div class="media block-6 services d-block text-center">
          <div class="d-flex justify-content-center">
            <a href="#"><div class="icon d-flex justify-content-center mb-3"><span class="align-self-center"><img
                  src="../../../../assets/images/serg/serg-2.jpg" width="150px" height="100px"
                  style="border-radius:15px" alt="" srcset=""></span>
            </div></a>
          </div>
          <div class="media-body p-2 mt-3">
            <a href="#">
              <h3 class="heading">Full Wedding Service</h3>
            </a>
            <p>Register and be part of our community.</p>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-4 d-flex align-self-stretch  ">
        <div class="media block-6 services d-block text-center">
          <div class="d-flex justify-content-center">
           <a href="#"><div class="icon d-flex justify-content-center mb-3"><span class="align-self-center"><img
                  src="../../../../assets/images/serg/wedding-venue.jpg" width="150px" height="100px"
                  style="border-radius:15px" alt="" srcset=""></span>
            </div></a>
          </div>
          <div class="media-body p-2 mt-3">
            <h3 class="heading">Venue Rental</h3>
            <p>Even the all-powerful Pointing has no control about the blind texts it is an almost unorthographic.</p>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-4 d-flex align-self-stretch  ">
        <div class="media block-6 services d-block text-center">
          <div class="d-flex justify-content-center">
            <a href=""><div class="icon d-flex justify-content-center mb-3"><span class="align-self-center"><img
                  src="../../../../assets/images/serg/wedding-catering.jpg" width="150px" height="100px"
                  style="border-radius:15px" alt="" srcset=""></span>
            </div></a>
          </div>
          <div class="media-body p-2 mt-3">
            <h3 class="heading">Catering Service</h3>
            <p>Even the all-powerful Pointing has no control about the blind texts it is an almost unorthographic.</p>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-4 d-flex align-self-stretch  ">
        <div class="media block-6 services d-block text-center">
          <div class="d-flex justify-content-center">
            <a href="#"><div class="icon d-flex justify-content-center mb-3"><span class="align-self-center"><img
                  src="../../../../assets/images/serg/car.jpg" width="150px" height="100px" style="border-radius:15px"
                  alt="" srcset=""></span>
            </div></a>
          </div>
          <div class="media-body p-2 mt-3">
            <h3 class="heading">Car Rental & Decor</h3>
            <p>Even the all-powerful Pointing has no control about the blind texts it is an almost unorthographic.</p>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-4 d-flex align-self-stretch  ">
        <div class="media block-6 services d-block text-center">
          <div class="d-flex justify-content-center">
          <a href="#"><div class="icon d-flex justify-content-center mb-3"><span class="align-self-center"><img
                  src="../../../../assets/images/serg/wedding-photography.jpg" width="150px" height="100px"
                  style="border-radius:15px" alt="" srcset=""></span>
            </div></a>
          </div>
          <div class="media-body p-2 mt-3">
            <h3 class="heading">Photography & Videography</h3>
            <p>Even the all-powerful Pointing has no control about the blind texts it is an almost unorthographic.</p>
          </div>
        </div>
      </div>

      <div class="col-md-6 col-lg-4 d-flex align-self-stretch  ">
        <div class="media block-6 services d-block text-center">
          <div class="d-flex justify-content-center">
            <a href=""><div class="icon d-flex justify-content-center mb-3"><span class="align-self-center"><img
                  src="../../../../assets/images/event-3.jpg" width="150px" height="100px" style="border-radius:15px"
                  alt="" srcset=""></span>
            </div></a>
          </div>
          <div class="media-body p-2 mt-3">
            <h3 class="heading">Dj - Wedding Music</h3>
            <p>Even the all-powerful Pointing has no control about the blind texts it is an almost unorthographic.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- <section class="serg-section-parallax" id="subs">
    <div class=" d-flex align-items-center">
      <div class="container">
        <div class="row d-flex justify-content-center">
          <div class="col-md-7 text-center heading-section heading-section-white  ">
            <h2>Subcribe to our Newsletter</h2>
            <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the
              blind . Separated they live in</p>
            <div classtexts="row d-flex justify-content-center mt-5">
              <div class="col-md-6">
                <form action="#" class="subscribe-form">
                  <div class="form-group">
                    <span class="icon icon-paper-plane"></span>
                    <input type="text" class="form-control" placeholder="Enter email address">
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="serg-section">
    <div class="container">
      <div class="row no-gutters justify-content-center mb-5 pb-5">
        <div class="col-md-7 text-center heading-section  ">
          <span class="subheading">Sermons</span>
          <h2 class="mb-4">Watch our sermons</h2>
          <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the
            blind texts. Separated they live in</p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4  ">
          <div class="sermons">
            <a href="https://vimeo.com/45830194"
              class="img popup-vimeo mb-3 d-flex justify-content-center align-items-center"
              style="background-image: url(images/sermons-1.jpg);">
              <div class="icon d-flex justify-content-center align-items-center">
                <span class="icon-play"></span>
              </div>
            </a>
            <div class="text">
              <h3><a href="#">Be at Peace With One Another</a></h3>
              <span class="position">Pastor. Joseph Meyer</span>
            </div>
          </div>
        </div>
        <div class="col-md-4  ">
          <div class="sermons">
            <a href="https://vimeo.com/45830194"
              class="img popup-vimeo mb-3 d-flex justify-content-center align-items-center"
              style="background-image: url(images/sermons-2.jpg);">
              <div class="icon d-flex justify-content-center align-items-center">
                <span class="icon-play"></span>
              </div>
            </a>
            <div class="text">
              <h3><a href="#">Inspirational Message of God</a></h3>
              <span class="position">Pastor. Joseph Meyer</span>
            </div>
          </div>
        </div>
        <div class="col-md-4  ">
          <div class="sermons">
            <a href="https://vimeo.com/45830194"
              class="img popup-vimeo mb-3 d-flex justify-content-center align-items-center"
              style="background-image: url(images/sermons-3.jpg);">
              <div class="icon d-flex justify-content-center align-items-center">
                <span class="icon-play"></span>
              </div>
            </a>
            <div class="text">
              <h3><a href="#">Prayers, Presence, and Provision</a></h3>
              <span class="position">Dave Zuleger</span>
            </div>
          </div>
        </div>
      </div>
      <div class="row mt-5">
        <div class="col text-center">
          <p><a href="#" class="btn btn-primary btn-outline-primary p-3">Watch all sermons</a></p>
        </div>
      </div>
    </div>
  </section> -->

<section class="serg-section">
  <div class="container">
    <div class="row justify-content-center mb-5 pb-5">
      <div class="col-md-7 text-center heading-section  ">
        <span class="subheading">Premium</span>
        <h2>Featured Services</h2>
        <p>Visit our premium service providers</p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4  ">
        <div class="blog-entry">
          <a href="blog-single.html" class="block-20"
            style="background-image: url('../../../../assets/images/image_1.jpg');">
          </a>
          <div class="text p-4 d-block">
            <div class="meta mb-3">
              <div><a href="#">Hiloga Wedding Planner | </a></div>
              <div><a >Venue Rental</a></div>
              </div>
            <h3 class="heading"><a href="#">The right place for your big day!</a>
            </h3>
          </div>
        </div>
      </div>
      <div class="col-md-4  ">
        <div class="blog-entry">
          <a href="blog-single.html" class="block-20"
            style="background-image: url('../../../../assets/images/image_1.jpg');">
          </a>
          <div class="text p-4 d-block">
            <div class="meta mb-3">
              <div><a href="#">Hiloga Wedding Planner | </a></div>
              <div><a >Venue Rental</a></div>
              </div>
            <h3 class="heading"><a href="#">The right place for your big day!</a>
            </h3>
          </div>
        </div>
        
      </div>
      <div class="col-md-4  ">
        <div class="blog-entry">
          <a href="blog-single.html" class="block-20"
            style="background-image: url('../../../../assets/images/image_1.jpg');">
          </a>
          <div class="text p-4 d-block">
            <div class="meta mb-3">
              <div><a href="#">Hiloga Wedding Planner | </a></div>
              <div><a >Venue Rental</a></div>
              
              </div>
            <h3 class="heading"><a href="#">The right place for your big day!</a>
            </h3>
          </div>
        </div>
      </div>
      
    </div>
  </div>
</section>


<app-footer></app-footer>
