<app-header></app-header>




<section id="home"
style="height: 700px; background-image: url(images/bg_1.jpg);  background-size:cover; background-position: center center;background-attachment:fixed;"
data-section="home">
<div class="container">
    <div class="row no-gutters slider-text js-fullheight align-items-center justify-content-center"
      data-scrollax-parent="true">
      <div class="col-md-10 ftco-animate text-center" data-scrollax=" properties: { translateY: '70%' }">
        <p class="breadcrumbs mb-2" data-scrollax="properties: { translateY: '30%', opacity: 1.6 }"><span
            class="mr-2"><a routerLink="/">Home</a></span> <span>Vendors</span></p>
        <h1 class="mb-3 mt-0 bread" data-scrollax="properties: { translateY: '30%', opacity: 1.6 }">Vendor Profile</h1>
      </div>
    </div>
  </div>
</section>

<section class="ftco-bible-study">
<div class="container-wrap" >
  <div class="col-md-12 wrap">
    <div class="container">
      <div class="row">
        <div class="col-md-12 d-md-flex">
          <div class="one-forth" >
            <h3>{{profile.company_name}}</h3>
            <p>{{profile.slogan}}</p>
          </div>
          <div class="one-half d-md-flex align-items-md-center ">
            <div class="countdown-wrap">
              <p class="countdown d-flex">
                <span id="days"></span>
                <span id="hours"></span>
                <span id="minutes"></span>
                <span id="seconds"></span>
              </p>
            </div>
            <div class="button">
              <p> <a (click)="showModal=true" class="btn btn-primary p-3" data-toggle="modal" data-target="#myModal">Reserve Now</a>
               </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</section>

<section class="ftco-section ftco-degree-bg">
<div class="container">
  <div class="row">
    <div class="col-md-8 ">
      <h2 class="mb-3"><img src="../../../../assets/images/uploads/{{profile.logo}}" width="50px" height="50px" style="border-radius:50%">
        {{profile.company_name}}
      </h2>
      <p>{{profile.description}}</p>
      <p>
        <img src="../../../../assets/images/uploads/{{profile.covere_pic}}" alt="" class="img-fluid">
      </p>
      
      <h2 class="mb-3 mt-5">Previous Works</h2>
   
      <div class="tag-widget post-tag-container mb-5 mt-5">
        <div class="tagcloud">
          <a href="#" class="tag-cloud-link">Wedding</a>
          <a href="#" class="tag-cloud-link">Photography</a>
          <a href="#" class="tag-cloud-link">Serg</a>
          <a href="#" class="tag-cloud-link">Online</a>
        </div>
      </div>



      <div class="pt-5 mt-5">
        <h3 class="mb-5">{{comment.length}} Comments</h3>
        <ul class="comment-list" *ngFor = "let item of comment">
          <li class="comment">
            <div class="vcard bio">
              <img src="../../../../assets/images/person_1.jpg" alt="Image placeholder">
            </div>
            <div class="comment-body">
              <h3>{{item.name}}</h3>
              <div class="meta">{{item.createdAt}}</div>
              <p>{{item.comment}}</p>
              
            </div>
          </li>

          
        </ul>
        <!-- END comment-list -->

        <div class="comment-form-wrap pt-5">
          <h3 class="mb-5">Leave a comment</h3>
          <form [formGroup]="comments" (ngSubmit) = "onClickSubmit()" class="p-5 bg-light">
            <div *ngIf= "validmessage != ''">
                <h3>{{validmessage}}</h3>
            </div>
            <div style="display: none;" class="form-group">
              <label for="name">id </label>
              <input type="text" class="form-control" value="sldjfk" formControlName="id">
            </div>
            <div class="form-group">
              <label for="name">Name *</label>
              <input type="text" class="form-control" formControlName="name">
            </div>
            <div class="form-group">
              <label for="email">Email *</label>
              <input type="email" class="form-control" formControlName="email">
            </div>

            <div class="form-group">
              <label for="message">Message</label>
              <textarea  formControlName="message" cols="30" rows="10" class="form-control"></textarea>
            </div>
            <div class="form-group">
              <input type="submit"  value="Post Comment" class="btn py-3 px-4 btn-primary">
            </div>

          </form>
        </div>
      </div>

    </div> <!-- .col-md-8 -->
    <div class="col-md-4 sidebar  order-first">
      <div class="sidebar-box">
        <form action="#">
          <h3>Rate our service</h3>

          <div class="form-group">
            <div class="rate">
              <input type="radio" id="star5" name="rate" value="5" />
              <label for="star5" title="text">5 stars</label>
              <input type="radio" id="star4" name="rate" value="4" />
              <label for="star4" title="text">4 stars</label>
              <input type="radio" id="star3" name="rate" value="3" />
              <label for="star3" title="text">3 stars</label>
              <input type="radio" id="star2" name="rate" value="2" />
              <label for="star2" title="text">2 stars</label>
              <input type="radio" id="star1" name="rate" value="1" />
              <label for="star1" title="text">1 star</label>
            </div>
          </div>
        </form>
      </div>
      <div class="sidebar-box ftco-animate">
        <div class="categories">
          <h3>Company Information</h3>
          <li><a href="#">Created at <span>{{profile.createdAt}}</span></a></li>
          <li><a href="#">Location <span>{{profile.address}}</span></a></li>
          <li><a href="#">Service Providing <span>{{profile.service_type}}</span></a></li>

        </div>
      </div>
      <div class="sidebar-box ftco-animate">
        <div class="categories">
          <h3>Contact</h3>
          <li><a href="#">Phone <span>{{profile.phone_no}}</span></a></li>
          <li><a href="#">Email <span>{{profile.email}}</span></a></li>

        </div>
      </div>

      <!-- <div class="sidebar-box ftco-animate">
        <h3>Similar Service Providers</h3>
        <div class="block-21 mb-4 d-flex">
          <a class="blog-img mr-4" style="background-image: url(../../../../assets/images/image_1.jpg);"></a>
          <div class="text">
            <h3 class="heading"><a href="#">Jorka Wedding Planner</a>
            </h3>
            <div class="meta">
              <div class="form-group">
                <div class="rate">
                  <input type="radio" id="star5" name="rate" value="5" />
                  <label for="star5" title="text">5 stars</label>
                  <input type="radio" id="star4" name="rate" value="4" />
                  <label for="star4" title="text">4 stars</label>
                  <input type="radio" id="star3" name="rate" value="3" />
                  <label for="star3" title="text">3 stars</label>
                  <input type="radio" id="star2" name="rate" value="2" />
                  <label for="star2" title="text">2 stars</label>
                  <input type="radio" id="star1" name="rate" value="1" />
                  <label for="star1" title="text">1 star</label>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="block-21 mb-4 d-flex">
          <a class="blog-img mr-4" style="background-image: url(../../../../assets/images/image_1.jpg);"></a>
          <div class="text">
            <h3 class="heading"><a href="#">Jorka Wedding Planner</a>
            </h3>
              <div class="form-group">
                <div class="rate">
                  <input type="radio" id="star5" name="rate" value="5" />
                  <label for="star5" title="text">5 stars</label>
                  <input type="radio" id="star4" name="rate" value="4" />
                  <label for="star4" title="text">4 stars</label>
                  <input type="radio" id="star3" name="rate" value="3" />
                  <label for="star3" title="text">3 stars</label>
                  <input type="radio" id="star2" name="rate" value="2" />
                  <label for="star2" title="text">2 stars</label>
                  <input type="radio" id="star1" name="rate" value="1" />
                  <label for="star1" title="text">1 star</label>
                </div>
             
             </div>
          </div>
        </div> -->
        <!-- <div class="block-21 mb-4 d-flex">
          <a class="blog-img mr-4" style="background-image: url(../../../../assets/images/image_1.jpg);"></a>
          <div class="text">
            <h3 class="heading"><a href="#">Jorka Wedding Planner</a>
            </h3>
            <div class="meta">
              <div class="form-group">
                <div class="rate">
                  <input type="radio" id="star5" name="rate" value="5" />
                  <label for="star5" title="text">5 stars</label>
                  <input type="radio" id="star4" name="rate" value="4" />
                  <label for="star4" title="text">4 stars</label>
                  <input type="radio" id="star3" name="rate" value="3" />
                  <label for="star3" title="text">3 stars</label>
                  <input type="radio" id="star2" name="rate" value="2" />
                  <label for="star2" title="text">2 stars</label>
                  <input type="radio" id="star1" name="rate" value="1" />
                  <label for="star1" title="text">1 star</label>
                </div>
              </div>
            </div>
          </div>
        </div> -->


        <div class="sidebar-box ftco-animate">
          <h3>Tag Cloud</h3>
          <div class="tagcloud">
            <a href="#" class="tag-cloud-link">Wedding</a>
            <a href="#" class="tag-cloud-link">Venue</a>
            <a href="#" class="tag-cloud-link">Online</a>
            <a href="#" class="tag-cloud-link">comfort</a>
            <a href="#" class="tag-cloud-link">bible</a>
            <a href="#" class="tag-cloud-link">giving</a>
            <a href="#" class="tag-cloud-link">light</a>
            <a href="#" class="tag-cloud-link">save</a>
          </div>
        </div>


      </div>

    </div>
</div>


<!-- The Modal -->
<div class="modal" [ngClass]="{'show':showModal}" id="myModal">
  <div class="modal-dialog">
    <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">Reservation Form</h4>
        <button type="button" (click)="showModal=false" class="close" data-dismiss="modal">&times;</button>
      </div>

      <!-- Modal body -->
      <div class="modal-body">
        <form action="">

          <div class="form-group">
            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <label for="first">First Name</label>
                  <input type="text" class="form-control" placeholder="First Name" id="first">
                </div>
              </div>
              <!--  col-md-6   -->
        
              <div class="col-md-6">
                <div class="form-group">
                  <label for="last">Last Name</label>
                  <input type="text" class="form-control" placeholder="Last Name" id="last">
                </div>
              </div>
              <!--  col-md-6   -->
            </div>
        
        
            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <label for="phone">Phone Number</label>
                  <input type="tel" class="form-control" id="phone" placeholder="Phone">
                </div>
        
        
              </div>
              <!--  col-md-6   -->
        
              <div class="col-md-6">
                <div class="form-group">
                  <label for="email">Email address</label>
                  <input type="email" class="form-control" id="email" placeholder="Active Email">
                </div>
                
              </div>
              <!--  col-md-6   -->
            </div>
            <!--  row   -->
        
        
            <div class="row">
              <div class="col-md-6">
        
              
              </div>
              
              <!--  col-md-6   -->
            </div>
            <!--  row   -->
        
        
            <label for="contact-preference">Choose Plan</label>
            <div class="radio">
              <label>
                <input type="radio" name="contact-preference" id="contact-preference" value="am" checked>100 people (5,600ETB)
              </label>
            </div>
            <div class="radio">
              <label>
                <input type="radio" name="contact-preference" id="contact-preference" value="pm" checked>500 People (10,000ETB)
              </label>
            </div>
            <div class="radio">
              <label>
                <input type="radio" name="contact-preference" id="contact-preference" value="pm" checked>1000 People (17,500ETB)
              </label>
            </div>
             <label for="reservation">Reservation Due Date:</label>
<input type="date" id="reservation" name="reservation">
        
            
          
            <label for="newsletter">Would you like to recieve our email newsletter?</label>
            <div class="checkbox">
        
              <label>
                <input type="checkbox" value="Sure!" id="newsletter"> Sure!
              </label>
            </div>
        
        
            <button type="submit" class="btn btn-primary">Submit</button>
        </div>
        </form>
        

      </div>

      <!-- Modal footer -->
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" (click)="showModal=false" data-dismiss="modal">Close</button>
      </div>

    </div>
  </div>
</div>


<app-footer></app-footer>
